<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ALL">
  <Appenders>
    <RollingFile name="RCXLog" fileName="F:/Applog/RCX/RCX.log"
                  filePattern="F:/Applog/RCX/RCX-%d{yyyy-MM-dd-HH}-%i.log">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
      <Policies>
      	<SizeBasedTriggeringPolicy size="500KB"/>
      </Policies>
    </RollingFile>
    
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%m%n"/>
    </Console>
  </Appenders>
<Loggers>
       <logger name="com.opensymphony.xwork2" level="ON"/>
       <logger name="org.apache.struts2" level="ON"/>
       <logger name="freemarker.cache" level=" ON "/>
       <logger name="freemarker.beans" level=" ON "/>
  
    <Root level="TRACE">
      <AppenderRef ref="WBILog" level="DEBUG"/>
      <AppenderRef ref="STDOUT" level="INFO"/>
      <AppenderRef ref="STDOUT" level="INFO"/>
    </Root>
  
  </Loggers>

</Configuration>

